$border-radius-root: 6px;
// $font-size-root: 14px;
$btn-letter-spacing: 0;
$material-light: (
  // 'background': #f7faff,
  // 'cards': #f0f,
);
$shadow-key-ambient-opacity: rgb(140 152 164 / 2.5%);
$shadow-key-penumbra-opacity: rgb(140 152 164 / 10%);
$shadow-key-umbra-opacity: rgb(140 152 164 / 0%);